a {
    color: currentColor;
    text-decoration: none;
}

ul,li,menu {
    list-style: none;
}

img {
    max-width: 100%;
}

.img-row,
.date-row {
    width: 12%;
}

.table {
   border: 3px solid black;
   margin-top: 30px;
}


form {
    padding: 50px;
}

.btn-th {
    width: 10%;
    padding: 0px;

    a {
        font-size: 13px;
    }
}